h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;

}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #8F95A5;
    }

.container {
    width: 1368px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/* Hero */
.hero {
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-title {
	margin-bottom: 40px;
	width: 386px;

	font-weight: 600;
	font-size: 64px;
	line-height: 1.25;

	color: #000000;
}

.hero-text {
	margin-bottom: 60px;
	width: 540px;

	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
}

.hero-btn {
    padding: 23px 64px;
	width: 426px;

	font-weight: 400;
	font-size: 36px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	border: none;

	background-color: #263238;
	border-radius: 10px;
	color: #ffffff;
}

.hero-first-div {
	margin-right: 171px;
}
/* Hero */
